.App {
  text-align: center;
  max-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.signuplink {
  background: #50C878;
  border: 1px #679267 solid;
  box-shadow: inset 0 1px 0 #9DC183;
  color: #444444;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 32pt;
  outline: none;
  color: black;
}

.text-name, select, textarea{
  color: black;
}
.text-email, select, textarea{
  color: black;
}
.input-wrapper, select, textarea{
  color: black;
}
.signuplink:hover{
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}
button.Recycle{
  width: 100%;
  background-color: #cccccc;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.Recycle:hover{
  background-color:#ddd;
}
.Recycle-content{
  padding: 0 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 0;
  overflow: hidden;
}
button.Compost{
  width: 100%;
  background-color: #cccccc;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.Compost:hover{
  background-color:#ddd;
}
.Compost-content{
  padding: 0 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 0;
  overflow: hidden;
}
button.Garbage{
  width: 100%;
  background-color: #cccccc;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
button.Garbage:hover{
  background-color:#ddd;
}
.Garbage-content{
  padding: 0 20px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  max-height: 0;
  overflow: hidden;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
}
.badge-pic {
  margin-top: 8px;
  margin-bottom: 8px;
}
.diversion-statement {
  margin-bottom: 20px;
}
.progress-bars {
  display: flex;
  flex-flow: row wrap;
  width: 100%
}
.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.moveTextLeft{
  float: left;
  padding-left: 3em
}
.moveTextRight{
  float: right;
  padding-right: 3em
}
.middleText{
  text-align: center;
}
.linkcolorchange{
  color: grey
}
#footer{
  background-image: linear-gradient(to bottom right,#6d78e7, #66b9ea, #41cd8c);
  background-size: cover;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  height: 5em;
}
.collapseBar{
  padding-bottom: 5em;
}
#footerIcon{
  color: white
}
.footer-label {
  margin-top: -0.9em;
  text-align: center;
  font-size: 0.85em;
  color: #fff;
}
.resourceLinks{
  padding-top: 5em;
  width: 80%;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 10px;
  padding-top: 0px;
  bottom: -15em;
  margin: auto !important;
  position: relative;
  left: 0;
  bottom: -30px;
}

.dottedLine{
  border-bottom: dashed 2px #eaebed
}

.bubble {
    position: relative;
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    max-width:210px;
    padding:10px;
    margin:0 auto;
    font-size:14px;
    border-radius:6px;
    top: 100px;
    left: 89px;
    font-size: 15px;
    top: -41px; 
}

.bubble:after,
.bubble:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.bubble:after {
    border-color: rgba(255, 255, 204, 0);
    border-right-color: #FFFFCC;
    border-width: 15px;
    margin-top: -15px;
}
.bubble:before {
    border-color: rgba(255, 204, 0, 0);
    border-right-color: #FFCC00;
    border-width: 16px;
    margin-top: -16px;
}
.resourcesTab{
  margin: auto !important;
  margin-bottom: 10rem;
}
.earthImage{
  width: 150px;
  position: relative;
  top: 6em;
  right: 8em;
}
.top-ward{
  margin-top: 6em;
}
.leader-statement{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 95%;
  margin: auto;
  text-align: center;
}
.points-statement{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 19px;
}
#leaderIcon{
  width: 192px;
  height: 192px;
  line-height: 192px;
  font-size: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#toggleButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.testing{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 62px;
}
.pointsText{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
}
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 60000ms linear 150ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}
.lists-container {
  position: absolute;
  left: 0;
  right: 0;
}
.leaderboard {
  margin: auto;
  width: 100%;
}

.lead-points {
  float: right !important;
  padding-left: 1.5em;
}

.lead-details {
  padding-top: 1em;
  font-size: 1.5em;
}

.column-lead {
  width: 33%;
  margin: auto;
  text-align: center;
}

#quizHeader {
  text-align: center;
  margin: auto;
}

.Jake {
  margin-left: -3rem;
}

.quizResult{
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
}

.questionCount {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.25rem !important;
  font-weight: 600;
}

#q-count {
  color: #6d78e7;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .column-lead {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .testing{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 62px;
  }

  .lead-details {
    padding-top: 1em;
    font-size: 1.25em;
    width: 15em;
  }

  .lead-points {
    margin-right: 1rem;
  }

  .earthImage{
    width: 30%;
    position: relative;
    top: 6em;
    right: 8em;
  }

  .bubble {
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    border-radius: 0.5rem;
    margin-left: 5rem;
    font-size: 15px;
    margin-top: 2rem;
  }

  .resourcesTab{
    margin: auto !important;
    margin-bottom: 8rem !important;
  }

  .resourceLinks{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius: 10px;
  }

}

@media only screen and (max-device-width : 320px) {
  .earthImage{
    width: 30%;
    position: relative;
    top: 6em;
    right: 8em;
  }

  .bubble {
    background: #FFFFCC;
    border: 1px solid #FFCC00;
    border-radius: 0.5rem;
    margin-left: 2rem;
    font-size: 15px;
    margin-top: 2rem;
    padding-right: 1rem;
  }

  .resourcesTab{
    margin: auto !important;
    margin-bottom: 8rem !important;
  }

  .resourceLinks{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    border-radius: 10px;
  }

}

