.home-bg {
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 5em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff !important;
}

.signup-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.signup-btn:hover {
    font-weight: 400;
    color: #f5f5f5;
    background-color: transparent;
    border: 1px solid #f5f5f5;
}

.signup-pg-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #41cd8c;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.signup-pg-btn:hover {
    border: 1px solid #41cd8c;
    background-color: transparent;
    color: #41cd8c;
}

.login-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: 1px solid #f5f5f5;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.login-btn:hover{
    font-weight: 500;
    background-color: #fff;
    color: #66b9ea
}
.hero-img{
    opacity: 0.5;
    width: 75%
}

.SignUpPg {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-name {
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
    padding: 0.25em;
}

.text-email {
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
    padding: 0.25em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

.input-wrapper {
    font-size: 1.75em;
    padding: 0.5em;
    font-weight: 100;
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: grey;
}

.add-header {
    width: 80%;
    margin: auto;
}

.search-header-wrap {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.search-header{
    color: #fff;
}

.search-input {
    border: none !important;
    font-size: 1.5em !important;
    height: 2em !important;
    font-weight: 200 !important;
}

.results-message {
    margin-top: 8.5em;
    text-align: left;
    padding: 0.5em 1em 0 1em;
    font-size: 1.5em;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    width: 100%;
}

.lists-container {
    padding-top: 15em;
    margin: auto;
}

.item-name {
    text-align: left;
}

.item-type {
    float: right;
}

.item-instructions {
    text-align: left;
}

.single-list {
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 2em 2em 1em 2em;
}

.container {
    padding-top: 2em;
}

.logo-header{
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    margin-bottom: 2em;
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.reg-header {
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0.15em;
}

.profile {
    margin-top: 6em;
}