.home-bg {
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    background-size: cover;
    height: 120vh;
    width: 100%;
}

.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 5em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #fff !important;
}

.signup-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.signup-btn:hover {
    font-weight: 400;
    color: #f5f5f5;
    background-color: transparent;
    border: 1px solid #f5f5f5;
}

.signup-pg-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #41cd8c;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.signup-pg-btn:hover {
    border: 1px solid #41cd8c;
    background-color: transparent;
    color: #41cd8c;
}

.login-btn {
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 1em;
    border: 1px solid #f5f5f5;
    color: #fff;
    font-size: 1.5em;
    font-weight: 600;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.login-btn:hover{
    font-weight: 500;
    background-color: #fff;
    color: #66b9ea
}
.hero-img{
    opacity: 0.5;
    width: 75%
}

.SignUpPg {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-name {
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
    padding: 0.25em;
}

.text-email {
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 100;
    padding: 0.25em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

.input-wrapper {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 100;
    border-bottom: 2px solid #41cd8c;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: grey;
    margin-left: 0 auto !important;
    margin-right: 0 auto !important;
    width: 18.5rem;
    margin-top: 1.5rem;
}

.add-header {
    width: 80%;
    margin: auto;
}

.search-header-wrap {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
}

.search-header{
    color: #fff;
    text-align: center;
}

.search-input {
    border: none !important;
    font-size: 1.5em !important;
    height: 2em !important;
    font-weight: 200 !important;
}

.results-message {
    margin-top: 8.5em;
    text-align: left;
    padding: 1em 1em 0 1em;
    font-size: 1.5em;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
}

.lists-container {
    padding-top: 16em;
    border-radius: 2em;
    padding-bottom: 6em;
}

.item-name {
    text-align: left;
    font-size: 1.25em;
}

.item-type {
    float: right;
}

.item-instructions {
    text-align: left;
}

.single-list {
    border-bottom: 2px dashed lightgrey;
    /* width: 90%; */
    margin: auto;
    padding: 2em 2em 1em 2em;
}

.container {
    padding-top: 2em;
    padding-bottom: 6em;
}

.logo-header{
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    margin-bottom: 2em;
    background-image: linear-gradient(to bottom right,#41cd8c, #66b9ea, #6d78e7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.17);
}

.reg-header {
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 0.15em;
    text-align: center;
}

.profile {
    margin-top: 6em;
    text-align: center;
}

.user-full-name {
    font-size: 2em;
}

.diversion-statement {
    font-size: 1.25em;
    margin-top: -1em;
}

.db-level {
    font-size: 1.5em;
    border-bottom: 3px solid #41cd8c;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0.75em;
    font-weight: 600;
}

.user-level {
    font-size: 1.5em;
    margin-top: -0.5em;
}

.user-points {
    font-size: 1.5em;
    margin-top: -0.5em;
}

.award-alert {
    font-size: 1.25em !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
}

.progress-bars {
    width: 80%;
    margin: auto;
}

.column {
    width: 33%
}

.item-table {
    width: 100%;
}

.table-row-title {
    text-align: left;
}

.table-row-title-type {
    text-align: right;
}

.table-row-name {
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
}

.table-row-remove {
    text-align: right;
}

.row-table {
    border-bottom: 2px dashed lightgrey;
}

.trash {
    color: red;
    margin-top: 0.20em;
}

.trash:hover {
    color: darkred;
}

.delete-btn {
    border: none;
    background: none;
}

.pick-up-date {
    font-size: 1.25em;
    width: 80%;
    margin: auto;
}

@media only screen and (min-device-width : 420px) and (max-device-width : 600px) {
    .ant-btn-group {
        font-size: 1.25rem;
    }

    .item-name {
        text-align: left;
        font-size: 1em;
    }
    
    .item-type {
        float: right;
        font-size: 1em
    }

    .progress-bars {
        width: 100% !important;
    }
    
}


@media only screen and (min-device-width : 320px) and (max-device-width : 419px) {

.diversion-statement {
    font-size: 1.15em;
    margin: -1em 0.5em 1em 0.5em;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3em;
}

.ant-btn-group {
    display: none !important;
}

.pick-up-date {
    font-size: 1.15em;
    width: 100%;
    margin: auto;
    margin-top: -1.75rem;
}

.item-name {
    text-align: left;
    font-size: 1em;
}

.item-type {
    float: right;
    font-size: 1em
}

.progress-bars {
    width: 100% !important;
}

}

@media only screen and (max-device-width: 320px) {
    .ant-btn-group {
        display: none !important;
    }

    .db-level {
        font-size: 1.5em;
        border-bottom: 3px solid #41cd8c;
        margin-left: 1em;
        margin-right: 0.5em;
        padding-top: 0.75em;
        font-weight: 600;
    }

    .user-points {
        font-size: 1.5em;
        margin-top: -0.5em;
        margin-left: 0.5em;
    }

}